name: Daily Fetch Crypto

on:
  schedule:
    - cron: "* * * * *" # Runs every day at midnight UTC
  workflow_dispatch:

jobs:
  crypto:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.19"

      - name: Initialize Go module
        run: go mod init main

      - name: Run Go script
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: go run fetch_crypto.go

      - name: Commit
        run: |
          git config --local user.email "hugozach@163.com"
          git config --local user.name "hugsin"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.GH_TOKEN }}@github.com/${{ github.repository }}
          git pull --rebase
          git add "$(date +'%Y%m%d')_crypto.json"
          git commit --allow-empty -m "Add $(date +'%Y%m%d')_crypto.json"
          git push

    
